 <!-- Header for User Page with icon -->

<div class="booyah-box col-xs-10 col-xs-offset-1" >
	<div class="user-head-icon col-xs-5 col-sm-4 col-md-3">
		<%= image_tag 'user_icon.png' %>
	</div>

<!-- User Info section -->

	<div class="user-head push-right col-xs-7 col-sm-8 col-md-9">
		<u><strong> User Name:</u><br> </strong>
		<%= @user.email %> 
		<br>
		<strong><u>Member Since:</u><br></strong><%= @user.created_at.strftime("%B %Y") %> 
		
		<div class="clear">	</div>
		<div class="clear">	</div>
		<div class="clear">	</div>


		<strong><u>Number of comments:</u></strong> <%= @user.comments.count %>
		<br>
	 	<strong><u>Number of 5 Star Reviews:</u></strong> <%= @user.comments.where(:rating => '5_stars').count %>
	</div>

<div class="clear">	</div>
<br>

 <!-- User's comments displayed on User Page -->

<div class="text-center"> <h1>My Comments</h1>
	<br>
	<%  @user.comments.each do |comment| %>
	<div class="col-xs-12 col-sm-12" >
		   	<div class="comment-links col-xs-4"><%= link_to comment.place.name, place_path(comment.place) %> 
		   	</div>
		   	<div class="blockquote col-xs-8">
		   	<blockquote>
		  		<% if comment.humanized_rating.present? %>
		  		<br>
		  		<b><%= comment.humanized_rating %></b>
		  		<% end %>
			<%= comment.message %>
		  	<small><%= comment.user.email %></small>
	   		</blockquote>	
    		</div>
	<% end %>
	</div>
</div>
<div class="clear">	</div>
<br>

 <!-- User's Places section -->


<div class="text-center"> <h1>My Places </h1>
<% @user.places.each do |place| %>
 	<h1><%= link_to place.name, place_path(place) %></h1>
    	<i><%= place.address %></i>
    	<p><%= place.description %></p><br />
<% end %>
